.discoverProducts-sec {
    padding: 72px 0;
    border-bottom: 1px solid #E5E5E5;
    .discoverProducts-wrapper {
        max-width: 793px;
        margin: auto;   
        h2 {
            font-family: Simplon Norm;
            font-size: 60px;
            font-weight: 400;
            line-height: 72px;
            letter-spacing: 1px;
            text-align: center;
            color: #252020;
            margin-bottom: 16px;
        }

        p {
            font-family: Simplon Norm;
            font-size: 22px;
            font-weight: 400;
            line-height: 40px;
            text-align: center;
            color: #252020;
        }
    }
}