.header-sec {
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 36px 0 60px 0;
    }

    .header-icon {
        margin: 0 12px;
    }

    .header-nav-wrapper {
        margin-bottom: 24px;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            li {
                padding: 0 32px;
                font-family: Simplon Norm;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 1px;
                text-align: left;
            }
        }
    }
    .header-block{
        width: 16%;
    }
    border-bottom: 1px solid #E5E5E5;
}